PORT=5000
MONGODB_URI=mongodb:mongodb+srv://emmanita20_db_user:X8hGFjaGJykqzoHR@cluster0.nnnhmpq.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Twilio
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+your_twilio_number

# Firebase Admin SDK
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_PRIVATE_KEY_ID=your_firebase_private_key_id
FIREBASE_PRIVATE_KEY=your_firebase_private_key
FIREBASE_CLIENT_EMAIL=your_firebase_client_email

# Mapbox
MAPBOX_ACCESS_TOKEN=your_mapbox_access_token

# Google Maps
GOOGLE_MAPS_API_KEY=your_google_maps_api_key

NODE_ENV=development
